.document-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
}

.document-modal-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.document-modal-header-title {
  font-size: var(--text-md);
  font-weight: var(--font-semibold);
  margin-left: 10px;
}

.document-library-grid-wrapper {
  padding: 20px;
  height: 70vh;
  overflow-y: auto;
}
