.docpage-right-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;

  overflow-y: auto;
  padding: 24px;
  gap: 16px;
}

.docpage-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.docpage-side-title {
  margin: 0;
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  color: var(--text-primary);
}

.window-actions {
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}

.docpage-resume-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.doc-left {
  display: flex;
  align-items: center;
  gap: 12px;

  flex: 1;
  min-width: 0;
}

.doc-icon {
  width: 28px;
  height: 28px;

  flex-shrink: 0;

  font-size: var(--text-2xl);
  display: flex;
  align-items: center;
  justify-content: center;
}

.doc-text {
  flex: 1;
  min-width: 0;
}

.doc-text h4 {
  margin: 0;
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
  color: var(--text-primary);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.doc-text p {
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
  color: var(--text-tertiary);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
