.applications-main {
  display: flex;
  /* align-items: center;
  justify-content: space-between;
  flex-direction: row; */
  gap: 20px;
  padding: 32px;
}

.applications-table-container {
  flex: 1;
  width: 80%;
}
.application-side-panel {
  width: 20%;
}
