@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
}

/* @font-face {
  font-family: "Berkeley Mono";
  src: url("./fonts/BerkeleyMono-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url("./fonts/BerkeleyMono-Medium.woff2") format("woff2");
  font-weight: 500;
} */
