*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: var(--color-surface-base);
  font-family: var(--font-sans);
  color: var(--color-primary);
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
