.application-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
}

.application-header-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 48px;
}

.application-header-title {
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
}

.application-header-subtitle {
  font-size: var(--text-xs);
  font-weight: 400;
}

.application-header-actions {
  display: flex;
  gap: 12px;
}

.application-main {
  display: flex;
  padding: 0 32px 32px 32px;
}

.application-form-container {
  width: 100%;
}
