.create-application-page {
  flex: 1;

  min-height: 0;

  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.create-application-page::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.application-main {
  flex: 1;
  padding: 0 32px 32px 32px;
}

.application-form-container {
  width: 100%;
}
